$color1 : #d3d896;
$color2 : #36274c;
$color3 : #990549;
$color4 : #d41888;
$color4 : #0096a7;
$color4 : #1f693d;
$color4 : #fe5923;

.ClockContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}